
.App-logo {
  position: absolute;
  width: 70%;
  height: 50%;
  background-image: linear-gradient(90deg, #00b386 50%, white 50%);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
h3{
  color: black;
  position: fixed;
  margin-bottom: 250px;
  margin-left: 400px;
}
button[type="button"]{
  position: fixed;
  transform: scale(2);
  margin-left: 150px;
  margin-top:110px;
  background-color: white;
  border-radius: 4px;
  border-width: thin;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button[type="button1"]{
  position: fixed;
  transform: scale(2);
  margin-left: 255px;
  margin-top:110px;
  background-color: white;
  border-radius: 4px;
  border-width: thin;
  cursor: pointer;
  background-color: #00b386;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header .left{
  position: fixed;
  left: 0;
  margin-left: 150px;
  border-style: solid;
  
  border-radius: 40px;
  background-color: white;
}
.App-header .right{
   position: fixed;
   right: 0;
   margin-right: 150px;
   border-style: solid;
  
  border-radius: 40px;
  background-color: white;
}

.App-header .upload{
 
  position: fixed;

  margin-left: 200px;
  margin-bottom: 150px;
  border-style: solid;
  padding: 25px;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;


}
.App-header .App-log{
  position: relative;
  
  margin-right: 650px;
  background-color: white;
  padding: 20px;
  border-radius: 20%;
  border-style: solid;
  
  
  
}

/**@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}**/

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/**@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}**/